@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Roboto Condensed", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

h1 {
  color: #dddcdc;
  font-size: 7vh;
}

h2 {
  font-size: 30pt;
  font-weight: 400;
}

h3 {
  font-size: 40pt;
  font-weight: bolder;
}

h4 {
  font-size: 16pt;
  font-weight: 400;
}

.primary-button,
.secondary-button {
  background-color: #0f9e88;
  color: white;
  padding: 10px 20px; /* Ajusté el padding para que sea más proporcionado */
  border-radius: 2px;
  min-width: 100px;
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block; /* Asegura que el ancho mínimo se respete */
  text-align: center; /* Centra el texto horizontalmente en el botón */
  text-decoration: none; /* Elimina el subrayado por defecto en los enlaces */
}

.secondary-button {
  background-color: #2c2d3c;
}

.servicios-contenedor-tarjetas-tarjeta {
  background-color: #dddcdc;
  color: #2c2d3c;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 16px solid #0f9e88;
}
.servicios-contenedor-tarjetas-tarjeta-img {
  padding: 24px 16px;
}
.servicios-contenedor-tarjetas-tarjeta-text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px 0;
}
.servicios-contenedor-tarjetas-tarjeta-text h4 {
  font-size: 20pt;
  font-weight: 600;
}
.servicios-contenedor-tarjetas-tarjeta-text p,
.servicios-contenedor-tarjetas-tarjeta-text a {
  font-size: 13pt;
  font-weight: 400;
}

.estudio-contenedor-presentacion-principal-tarjeta {
  display: flex;
  flex-direction: row;
  padding: 24px;
  column-gap: 24px;
  background-color: #2c2d3c;
  color: #dddcdc;
  border-bottom: 16px solid #0f9e88;
}
.estudio-contenedor-presentacion-principal-tarjeta-img img {
  min-width: 200px;
}
.estudio-contenedor-presentacion-principal-tarjeta-titulo {
  display: flex;
  flex-direction: column;
}
.estudio-contenedor-presentacion-principal-tarjeta-titulo h2 {
  font-size: 20pt;
  font-weight: bold;
}
.estudio-contenedor-presentacion-principal-tarjeta-descripcion {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.estudio-contenedor-presentacion-principal-tarjeta-descripcion-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}
.estudio-contenedor-presentacion-principal-tarjeta-descripcion-button i {
  font-size: 2.4rem;
}

.estudio-contenedor-presentacion-secundaria-tarjeta {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #2c2d3c;
  color: #dddcdc;
  width: 25%;
  border-bottom: 16px solid #0f9e88;
}
.estudio-contenedor-presentacion-secundaria-tarjeta-img img {
  display: flex;
  justify-content: center;
  min-width: 100px;
}
.estudio-contenedor-presentacion-secundaria-tarjeta-titulo {
  padding: 16px 0px;
}
.estudio-contenedor-presentacion-secundaria-tarjeta-titulo h4 {
  font-size: 16pt;
  font-weight: bold;
}
.estudio-contenedor-presentacion-secundaria-tarjeta-descripcion {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.estudio-contenedor-presentacion-secundaria-tarjeta-descripcion-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  margin-top: auto;
}
.estudio-contenedor-presentacion-secundaria-tarjeta-descripcion-button i {
  font-size: 3.5rem;
}

.introduccion-tarjetas-tarjeta {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #2c2d3c;
  width: 30%;
  padding: 36px;
  row-gap: 24px;
  border-bottom: 16px solid #0f9e88;
}
.introduccion-tarjetas-tarjeta img {
  width: 50%;
  height: 60%;
  margin-bottom: 16px;
}
.introduccion-tarjetas-tarjeta p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  flex-grow: 1;
}

.formulario {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background-color: #2c2d3c;
  padding: 64px;
  width: 80%;
}
.formulario-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: white;
}
.formulario-inputs input {
  background-color: #2c2d3c;
  color: #b5b4b9;
  border-bottom: 2px solid #b5b4b9;
  padding: 8px;
}
.formulario-inputs textarea {
  background-color: #2c2d3c;
  color: #b5b4b9;
  border-bottom: 2px solid #b5b4b9;
  padding: 8px;
}
.formulario-btn {
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 24px;
  background-color: rgba(32, 32, 32, 0.8);
  color: #dddcdc;
  z-index: 2;
  padding: 16px;
  transition: top 0.3s ease-in-out, color 0.3s ease-in-out;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 64px;
  font-weight: 300;
  font-size: 16pt;
}
.navbar-links-item:hover {
  color: black;
  transition: color 0.3s ease-in-out;
}
.navbar-mobile {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2d3c;
  color: #dddcdc;
  height: 10vh;
}

.intro {
  height: 90vh;
  position: relative;
  background-image: url("../../img/backgrounds/background-intro.jpg");
  background-size: cover;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según lo oscuro que desees el filtro */
}
.intro-contenedor {
  position: relative; /* Asegura que el contenedor sea un contexto de apilamiento para los elementos internos */
  z-index: 1; /* Asegura que los elementos internos estén por encima del pseudo-elemento ::before */
  padding-top: 37vh;
  padding-left: 16vw;
  width: auto;
}
.intro-contenedor-inicio {
  display: flex;
  flex-direction: column;
  padding: 32px;
  row-gap: 5vh;
}
.intro-contenedor-inicio-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4vh;
  color: #dddcdc;
  row-gap: 24px;
}
.intro-contenedor-inicio-buttons {
  display: flex;
  justify-content: flex-start;
  column-gap: 4vh;
}

.introduccion {
  padding: 64px 16vw;
  background-color: #dddcdc;
}
.introduccion-titulo {
  margin-bottom: 24px;
}
.introduccion-tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 32px;
}

.servicios {
  background-color: #2c2d3c;
  color: #dddcdc;
  height: 90vh;
  padding: 64px 16vw;
}
.servicios-contenedor {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.servicios-contenedor-tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  column-gap: 4vh;
}

.estudio {
  background-color: #dddcdc;
  color: #2c2d3c;
  height: 90%;
}
.estudio-contenedor {
  padding: 64px 16vw;
}
.estudio-contenedor-titulo {
  padding-bottom: 32px;
}
.estudio-contenedor-presentacion {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.estudio-contenedor-presentacion-secundaria {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.contacto {
  height: 90vh;
  background-image: url("../../img/backgrounds/background-contacto.jpg");
  background-size: cover;
}
.contacto-contenedor {
  display: flex;
  flex-direction: row;
  padding: 0px 16vw;
  column-gap: 10vw;
}
.contacto-contenedor-informacion {
  color: #dddcdc;
  display: flex;
  flex-direction: column;
  padding: 64px 0px;
  row-gap: 32px;
}
.contacto-contenedor-informacion-title {
  font-size: 32px;
}
.contacto-contenedor-informacion-text {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
}
.contacto-contenedor-informacion-text-contacto {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.contacto-contenedor-informacion-text-contacto-direcciones {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 8px;
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  .navbar-links {
    display: none;
  }
  .navbar-mobile {
    display: block;
    font-size: 30px;
  }
  .intro {
    height: auto;
  }
  .intro-contenedor {
    padding: 0px;
    margin: 0px;
  }
  .intro-contenedor-inicio {
    padding-top: 64px;
    row-gap: 32px;
  }
  .introduccion {
    padding: 24px 32px;
  }
  .introduccion-tarjetas {
    flex-direction: column;
    row-gap: 16px;
  }
  .servicios {
    height: auto;
    padding: 24px 32px;
  }
  .servicios-contenedor-tarjetas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .estudio-contenedor {
    padding: 24px 32px;
  }
  .estudio-contenedor-presentacion-secundaria {
    flex-direction: column;
    row-gap: 24px;
  }
  .contacto {
    height: auto;
  }
  .contacto-contenedor {
    flex-direction: column;
    padding: 24px 32px;
    row-gap: 24px;
  }
  .contacto-contenedor-informacion {
    padding: 0px 0px;
  }
  .contacto-contenedor-informacion-text {
    row-gap: 32px;
  }
  .introduccion-tarjetas-tarjeta {
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    border-bottom: none;
    border-left: 16px solid #0f9e88;
    column-gap: 16px;
    padding: 24px;
  }
  .introduccion-tarjetas-tarjeta > img {
    width: auto;
    height: auto;
    max-width: 48px;
  }
  .servicios-contenedor-tarjetas-tarjeta {
    width: auto;
    border-bottom: none;
    border-left: 16px solid #0f9e88;
  }
  .servicios-contenedor-tarjetas-tarjeta-text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 16px;
    padding: 16px 8px 8px 0;
  }
  .estudio-contenedor-presentacion-principal-tarjeta {
    flex-direction: column;
    padding: 24px;
    row-gap: 24px;
    background-color: #2c2d3c;
    color: #dddcdc;
    border-left: 16px solid #0f9e88;
    border-bottom: none;
  }
  .estudio-contenedor-presentacion-principal-tarjeta-titulo {
    flex-direction: row;
    column-gap: 4px;
  }
  .estudio-contenedor-presentacion-principal-tarjeta-descripcion-button {
    justify-content: center;
  }
  .estudio-contenedor-presentacion-secundaria-tarjeta {
    width: auto;
    border-left: 16px solid #0f9e88;
    border-bottom: none;
  }
  .estudio-contenedor-presentacion-secundaria-tarjeta-descripcion-button {
    justify-content: center;
  }
  .estudio-contenedor-presentacion-secundaria-tarjeta-descripcion-button i {
    font-size: 2.4rem;
  }
  .formulario {
    width: auto;
    padding: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
