@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}

.primary-button {
  background-color: #0eae99;
  color: #f2f8f9;
  padding: 20px;
  border-radius: 2px;
  width: 15vh;
  font-size: 1.7vh;
}

.secondary-button {
  background-color: #545454;
  color: #f2f8f9;
  padding: 20px;
  border-radius: 2px;
  width: 15vh;
  font-size: 1.7vh;
}

.servicios-contenedor-tarjetas-tarjeta {
  background-color: #d7d7db;
  color: #312c47;
  display: flex;
  flex-direction: column;
  width: 250px;
}
.servicios-contenedor-tarjetas-tarjeta-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  padding: 24px 16px;
}

.estudio-contenedor-presentacion-principal-tarjeta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
  column-gap: 24px;
  background-color: #312c47;
  color: #f2f8f9;
}
.estudio-contenedor-presentacion-principal-tarjeta img {
  width: 200px;
  height: 200px;
  background-color: white;
}

.estudio-contenedor-presentacion-secundaria-tarjeta {
  background-color: #312c47;
  color: #f2f8f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  padding: 16px;
}
.estudio-contenedor-presentacion-secundaria-tarjeta img {
  width: 200px;
  height: 200px;
  background-color: white;
}
.estudio-contenedor-presentacion-secundaria-tarjeta-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.formulario {
  background-color: #312c47;
}
.formulario-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.formulario-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #312c47;
  color: #f2f8f9;
  height: 10vh;
}
.navbar-logo {
  display: flex;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}
.navbar-links-item {
  padding: 0 10vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #312c47;
  color: #f2f8f9;
  height: 10vh;
}

.intro {
  height: 90vh;
  background-image: url("../../fotos/Sin título-1-06-01.jpg");
  background-size: cover;
}
.intro-contenedor {
  padding-top: 60vh;
  padding-left: 20vh;
  padding-right: 85vh;
}
.intro-contenedor-inicio {
  display: flex;
  flex-direction: column;
  background-color: #312c47;
  height: 30vh;
  padding: 0px 4vh;
  row-gap: 5vh;
}
.intro-contenedor-inicio-title {
  display: flex;
  justify-content: flex-start;
  padding-top: 4vh;
}
.intro-contenedor-inicio-title h1 {
  color: #f2f8f9;
  font-size: 4vh;
}
.intro-contenedor-inicio-buttons {
  display: flex;
  justify-content: flex-start;
  column-gap: 4vh;
}

.servicios {
  background-color: #312c47;
  color: #f2f8f9;
  height: 90vh;
}
.servicios-contenedor-titulo {
  padding: 32px 0vh;
  padding-left: 20vh;
}
.servicios-contenedor-tarjetas {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 4vh;
}

.estudio {
  background-color: #eaf1f3;
  color: #312c47;
  height: 90%;
}
.estudio-contenedor-titulo {
  padding: 32px 25vh;
  font-size: 32px;
}
.estudio-contenedor-presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 4vh;
  margin: 0vh 20vh;
}
.estudio-contenedor-presentacion-secundaria {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  margin-bottom: 64px;
}

.contacto {
  height: 90vh;
  background-image: url("../../fotos/Sin título-1-06-06.jpg");
  background-size: cover;
}
.contacto-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  margin: 0px 30vh;
  column-gap: 64px;
}
.contacto-contenedor-informacion {
  color: #f2f8f9;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.contacto-contenedor-informacion-title {
  font-size: 32px;
}
.contacto-contenedor-informacion-text {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

/*# sourceMappingURL=style.css.map */
