.contacto {
    height: 90vh;
    background-image: url('../../img/backgrounds/background-contacto.jpg');
    background-size: cover;

    &-contenedor {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 64px;

        &-informacion {

            color: $color-tertiary;
            display: flex;
            flex-direction: column;
            row-gap: 48px;

            &-title{
                font-size: 32px;
            }

            &-text{
                display: flex;
                flex-direction: column;
                row-gap: 32px;

            }

        }
    }

}