.contacto {
    height: 90vh;
    background-image: url('../../fotos/Sin\ título-1-06-06.jpg');
    background-size: cover;
    color: white;

    &-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: baseline;

        &-informacion {}

        padding: 400px;

        &-formulario {}
    }
}