@import "../utils/mixin.scss";

.estudio {

    background-color: $color-tertiary;
    color: $color-primary;
    height: 90%;

    &-contenedor {
        padding: 64px 16vw;

        @include mobile-small {
            padding: 24px 32px;
        }

        @include mobile-large{
            padding: 24px 10vw;
        }

        &-titulo {
            padding-bottom: 32px;
        }

        &-presentacion {
            display: flex;
            flex-direction: column;
            row-gap: 24px;

            &-principal {}

            &-secundaria {

                display: flex;
                flex-direction: row;
                column-gap: 16px;

                @include mobile-small {
                    flex-direction: column;
                    row-gap: 24px;
                }

                @include mobile-large{
                    flex-direction: column;
                    row-gap: 24px;
                }

                @include tablet{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    flex-grow: 1;
                    width: 100%;
                    row-gap: 24px;
                }


            }
        }
    }
}