.estudio {

    background-color: $color-tertiary;
    color: $color-primary;
    height: 90%;

    &-contenedor {
        padding: 64px 16vw;

        &-titulo {
            padding-bottom: 32px;
        }

        &-presentacion {
            display: grid;
            grid-template-rows: 1fr 1fr ;
            grid-template-columns: 1fr 1fr 1fr 1fr ;


            &-principal {
                grid-column: span 4;
            }

            &-secundaria {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(4, 1fr);

                &-tarjeta {
                    width: 100%;
                }
            }
        }
    }
}