.estudio {

    background-color: $color-quinary;
    color: $color-primary;
    height: 150vh;

    &-contenedor {

        &-titulo {

            padding: 10vh 0vh;

        }

        &-presentacion{

            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 4vh;

            &-secundaria{
                display: flex;
                flex-direction: row;
            }
            
        }
    }
}