.intro {
    background-color: blue;
    height: 90vh;
    background-image: url('../../fotos/Sin\ título-1-06-01.jpg');

    &-contenedor {

        padding-top: 60vh;
        margin-left: 30vh;
        margin-right: 80vh;

        &-inicio {
            display: flex;
            flex-direction: column;
            background-color: $color-primary;
            height: 30vh;
            padding-left: 4vh;
            padding-right: 4vh;
            row-gap: 5vh;

            &-title {
                display: flex;
                justify-content: flex-start;
                padding-top: 4vh;

                h1 {
                    color: $color-tertiary;
                    font-size: 4vh;
                }
            }

            &-buttons {
                display: flex;
                justify-content: flex-start;
                column-gap: 4vh;

            }
        }
    }
}