.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-primary;
    color: $color-tertiary;
    height: 10vh;

    &-logo {
        display: flex;
    }

    &-links {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        &-item {
            padding: 0 10vh;
        }
    }
}