@import "../utils/mixin.scss";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(32, 32, 32, 0.8);
    color: $color-tertiary;
    z-index: 2;
    transition: top 0.3s ease-in-out, color 0.3s ease-in-out;

    &-intro {

        display: flex;
        justify-content: center;

        &-logo{
            max-width: 200px;
            padding: 24px 0 0 0;
        }

        &-mobile-open {
            display: none;
        }

        &-mobile-close {
            display: none;
        }
    }

    &-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 16vw;
        font-size: 16pt;
        font-weight: 300;
    }


    //versión mobile para celulares 

    @include mobile-small {
        height: 20vh;
        justify-content: space-between;
        flex-direction: row;
        overflow-x: hidden;
        transform: translateX(0);

        &-intro {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 3;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            &-logo {
                padding: 32px;
            }

            &-mobile-open {
                display: block;
                font-size: 32px;
                padding: 32px;
            }

            &-mobile-close {
                display: none;
                font-size: 32px;
                padding: 32px;
            }
        }

        &-links {
            position: absolute;
            padding: 80px 0 0 0;
            row-gap: 16px;
            top: 20vh;
            left: 0;
            height: 80vh;
            width: 100%;
            background-color: rgba(32, 32, 32, 1);
            z-index: 2;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), color 0.3s ease-in-out;

            &-item:hover {
                color: black;
                transition: color 0.3s ease-in-out;
            }

            &.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                row-gap: 32px;
                opacity: 1;
                transform: translateX(0) translateY(0);
            }
        }
    }

    //versión mobile para celulares modernos

    @include mobile-large {
        height: 20vh;
        justify-content: space-between;
        flex-direction: row;
        overflow-x: hidden;
        transform: translateX(0);

        &-intro {
            position: fixed;
            top: 0;
            width: 100%;

            z-index: 3;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            &-logo {
                padding: 32px;
            }

            &-mobile-open {
                display: block;
                font-size: 32px;
                padding: 32px;
            }

            &-mobile-close {
                display: none;
                font-size: 32px;
                padding: 32px;
            }
        }

        &-links {
            position: absolute;
            padding: 32px 0 0 0;
            row-gap: 16px;
            top: 20vh;
            left: 0;
            height: 80vh;
            width: 100%;
            background-color: rgba(32, 32, 32, 1);
            z-index: 2;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.5s ease-in-out, transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), color 0.3s ease-in-out;

            &-item:hover {
                color: black;
                transition: color 0.3s ease-in-out;
            }

            &.active {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                row-gap: 32px;
                opacity: 1;
                transform: translateX(0) translateY(0);
            }
        }

        &-mobile-open {
            display: block;
            font-size: 32px;
            padding: 32px;
        }

        &-mobile-close {
            display: none;
            font-size: 32px;
            padding: 32px;
        }
    }
}