.servicios {
    background-color: $color-primary;
    color: $color-tertiary;
    height: 90vh;

    &-contenedor {

        
        &-titulo {

        padding: 10vh 0vh;    

        }

        &-tarjetas {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            column-gap: 4vh;
        }
    }
}