.servicios {
    background-color: $color-primary;
    color: $color-tertiary;
    height: 90vh;
    
    &-contenedor {


        &-titulo {
            
        padding: 32px 0vh; 
        padding-left: 20vh;   

        }

        &-tarjetas {
            display: flex;
            justify-content: center;
            flex-direction: row;
            column-gap: 4vh;
        }
    }
}