.servicios {

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $color-primary;

    &-contenedor {

        margin-left: 30vh;
        margin-right: 80vh;


        &-titulo {

            margin: 4vh 0vh;

            h1 {
                color: $color-tertiary;
                font-size: 4vh;
            }
        }

        &-tarjetas {
            display: flex;
            flex-direction: row;
            column-gap: 5vh;

        }
    }


}