@import "../utils/mixin.scss";

.intro {
    height: auto;
    min-height: 100vh;
    position: relative;
    background-image: url('https://i.ibb.co/KzpTZ5V/background-intro.jpg');
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Ajusta la opacidad según lo oscuro que desees el filtro */
    }

    &-contenedor {
        position: relative;
        z-index: 1;
        padding: 50vh 16vw 15vh 16vw;
        width: auto;
        
        @include mobile-small{
            padding-top: 150px; 
        }
        @include mobile-large{
            padding-top: 150px;
        }

        &-inicio {
            display: flex;
            flex-direction: column;
            row-gap: 5vh;

            @include mobile-small {
                align-items: center;
                justify-content: center;
                row-gap: 32px;

            }

            @include mobile-large {

            }


            &-title {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-top: 4vh;
                color: $color-tertiary;
                row-gap: 24px;

                h1 {
                    font-size: 36pt;
                    line-height: 48px;
                }


                h2 {
                    font-size: 18pt;
                }

                @include mobile-small {
                    row-gap: 8px;

                    h1 {
                        font-size: 36pt;
                        line-height: 48px;
                    }


                    h2 {
                        font-size: 18pt;
                    }
                }

                @include mobile-large{
                    row-gap: 8px;

                    h1 {
                        font-size: 36pt;
                        line-height: 48px;
                    }


                    h2 {
                        font-size: 18pt;
                    }

                }
                
            }

            &-buttons {
                display: flex;
                justify-content: flex-start;
                column-gap: 4vh;
            }
        }
    }
}