@import "../utils/mixin.scss";

.servicios {
    background-color: $color-primary;
    color: $color-tertiary;
    height: auto;
    padding: 64px 16vw;

    @include mobile-small {
        height: auto;
        padding: 24px 10vw;
    }
    
    @include mobile-large{
        height: auto;
        padding: 24px 10vw;
    }

    &-contenedor {

        display: flex;
        flex-direction: column;
        row-gap: 32px;

        @include mobile-small {
            padding: 24px 32px;
        }

        @include mobile-large{
            padding: 24px 32px;
        }

        &-titulo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        &-tarjetas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 6vh;
            

            @include mobile-small {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }

            @include mobile-large{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
            }

        }
    }
}

