.servicios-contenedor-tarjetas-tarjeta {
    background-color: $color-senary;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    width: 250px;

    &-img {}

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
        padding: 24px 16px;
    }

}

.estudio-contenedor-presentacion-principal-tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 16px;
    column-gap: 32px;

    &-img {
        display: flex;
        width: 100%;
        flex-grow: 1;
        object-fit: cover;
        background-color: white;

    }

    &-titulo {}

    &-descripcion {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        &-button {
            display: flex;
            justify-content: flex-start;
        }
    }

}

.estudio-contenedor-presentacion-secundaria-tarjeta {
    background-color: $color-primary;
    color: $color-tertiary;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 16px;
    padding: 16px;
    max-width: 226px;


    &-img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        background-color: white;

    }

    &-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 40px;
    }

    &-descripcion {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        flex-grow: 1;
        /* Hace que la descripción ocupe todo el espacio disponible */

        p {
            flex-grow: 1;
            /* Hace que el párrafo ocupe todo el espacio disponible */
        }

        .primary-button {
            /* Estilos para el botón */
            align-self: center;
            /* Alinea el botón al principio de su contenedor */
        }
    }
}