.servicios-contenedor-tarjetas-tarjeta{
    background-color: $color-senary;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    width: 250px;

    &-img{

    }

    &-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
        padding: 24px 16px;
    }

}

.estudio-contenedor-presentacion-principal-tarjeta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    column-gap: 24px;

    background-color: $color-primary;
    color: $color-tertiary;

    img{
        width: 200px;
        height: 200px;
        background-color: white;
        
    }
    
}

.estudio-contenedor-presentacion-secundaria-tarjeta{
    background-color: $color-primary;
    color: $color-tertiary;

    img{
        width: 200px;
        height: 200px;
        background-color: white;
        
    }
}