* {
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: 'Roboto Condensed', sans-serif;;

}

img {
	max-width: 100%;
	height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
}