@import "../utils/mixin.scss";


.formulario {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: $color-primary;
    padding: 48px 32px;
    width: 80%;

    @include mobile-small{
        // width: auto;
        // padding: 24px 10vw;
    }

    @include mobile-large{
        // width: auto;
        // padding: 24px 10vw;
    }

    &-inputs {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        color: $color-quaternary;

        &-input{
            display: flex;
            flex-direction: column;
            
            
        }

        input {
            background-color: $color-primary;
            color: $color-senary;
            border-bottom: 2px solid $color-senary;
            padding: 8px 0;
        }

        textarea {
            background-color: $color-primary;
            color: $color-senary;
            border-bottom: 2px solid $color-senary;
            padding: 8px 0;
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
    }
}
