@media screen and (max-width: 480px) {

    .navbar{
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    .navbar-links {
        display: none;
    }

    .navbar-mobile {
        display: block;
        font-size: 30px;
    }

    .intro{
        height: auto;
    }

    .intro-contenedor{
        padding: 0px ;
        margin: 0px;
    }

    .intro-contenedor-inicio{
        padding-top: 64px;
        row-gap: 32px;
    }

    .introduccion{
        padding: 24px 32px;
    }
    
    .introduccion-tarjetas{
        flex-direction: column;
        row-gap: 16px;
    }

    .servicios {
        height: auto;
        padding: 24px 32px;
    }

    .servicios-contenedor-tarjetas {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .estudio-contenedor {
        padding: 24px 32px;
    }

    .estudio-contenedor-presentacion-secundaria{
        flex-direction: column;
        row-gap: 24px;
    }

    .contacto{
        height: auto;
    }
        
    .contacto-contenedor{
        flex-direction: column;
        padding: 24px 32px;
        row-gap: 24px;
    }
    
    .contacto-contenedor-informacion{
        padding: 0px 0px;
    }
    
    .contacto-contenedor-informacion-text{
        row-gap: 32px;
    }

    //Parte de tarjetas

    .introduccion-tarjetas-tarjeta {
        flex-direction: row;
        align-items: flex-start;
        width: auto;
        border-bottom: none;
        border-left: 16px solid $color-secundary;
        column-gap: 16px;
        padding: 24px;
    }

    .introduccion-tarjetas-tarjeta>img {
        width: auto;
        height: auto;
        max-width: 48px;
    }

    .servicios-contenedor-tarjetas-tarjeta {
        width: auto;
        border-bottom: none;
        border-left: 16px solid $color-secundary;


    }

    .servicios-contenedor-tarjetas-tarjeta-text {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        column-gap: 16px;
        padding: 16px 8px 8px 0;

    }

    .estudio-contenedor-presentacion-principal-tarjeta {
        flex-direction: column;
        padding: 24px;
        row-gap: 24px;
        background-color: $color-primary;
        color: $color-tertiary;
        border-left: 16px solid $color-secundary;
        border-bottom: none;

    }

    .estudio-contenedor-presentacion-principal-tarjeta-titulo{
        flex-direction: row;
        column-gap: 4px;
    }

    .estudio-contenedor-presentacion-principal-tarjeta-descripcion-button{
        justify-content: center;
    }

    .estudio-contenedor-presentacion-secundaria-tarjeta {
        width: auto;
        border-left: 16px solid $color-secundary;
        border-bottom: none;
        
    }

    .estudio-contenedor-presentacion-secundaria-tarjeta-descripcion-button{
        justify-content: center;
    }

    .estudio-contenedor-presentacion-secundaria-tarjeta-descripcion-button i {
        font-size: 2.4rem; 
    }

    //form

    .formulario {
        width: auto;
        padding: 32px;
    }


    

}